body{
margin:70px;
}
header{}
header{padding:4%;background: yellow; width:88%; float: left;margin-bottom:10px;}
.clear{clear:both;}

section{}
section div:first-child{padding:4%;background:pink;width:35%;height:150px;float:left;margin-right:5%;}
section div:nth-child(2){padding:4%;background:blue;width:40%;height:150px;float:left;}
.clear{clear:both;}

section{}
footer{padding:4%;background: green; width:88%; float: left;margin-top:10px;}
.clear{clear:both;}

